body {
    background-image: url("/dining.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    color: limegreen;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    text-align: center;
    padding-top: 600px;
}

p {
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
