.header {
    margin-bottom: -44px;
}

.tabs {
    text-align: right;
    display: block;
}

.tab {
    display: inline-block;
    background: linear-gradient(black, darkgrey);
    color: white;
    border: 1px darkgrey solid;
    border-bottom: none;
    line-height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1px;
}

.tab:hover {
    color: limegreen;
}

.tab:active {
    background: linear-gradient(limegreen, limegreen);
    color: white;
}

.landing {
    background-image: url("/dining.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 96vh;
}

h1 {
    color: limegreen;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    text-align: center;
    padding-top: 600px;
}

p {
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.menu-container {
    background-color: #F5F5F5;
    height: 96vh;
    width: 100%;
    margin: 44px auto 0 auto;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.menu-title {
    padding-top: 20px;
    font-size: 2.5rem;
}

.menu-list {
    height: 85vh;
    width: 800px;
    margin: -20px auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 0;
}

.menu-item {
    font-family: 'Quattrocento Sans', sans-serif;
    width: 48%;
    height: 260px;
    list-style: none;
    background-color: white;
    margin-top: 10px;
    border: 1px solid lightgrey;
}

.menu-inner {
    margin-top: 20px;
}

img {
    width: 250px;
    text-align: center;
    margin-bottom: -10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

h4 {
    font-size: 20px;
    text-align: center;
}

.contact {
    color: black;
    text-align: center;
    margin-top: 44px;
    font-family: 'Quattrocento Sans', sans-serif;
}

.iframe {
    width: 800px;
    height: 600px;
    border: 0;
}

h2 {
    font-size: 4rem;
    padding-top: 20px;
    font-family: 'Lobster', cursive;
    color: limegreen;
}

h5 {
    font-size: 1.6rem;
}
